.app {
  background-color: #313131;
  width: 100vw;
  min-height: 100vh;
  margin: auto;
}

.nav {
  color: #fff;
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.left-nav {
  margin-left: 4rem;
  font-size: 19px;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  gap: 6rem;
}

.logo {
  font-size:35px;
  color: yellow;
  margin-right: 4rem;
}

.nav-h3 {
  cursor: pointer;
}

/* ---------- */

.hero {
  width: 40rem;
  height: 40rem;
  /* margin-left: 5rem; */
  margin-top: 3rem;
  border-radius: 30rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 20rem; */
}

.form-crp {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-space {
  font-size: 1.5rem;
  width: 200px;
  height: 50px;
}

.box-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
  margin-top: 5rem;
  border: 1px solid yellow;
}

.label-box {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title-form {
  color: yellow;
}

.btn {
  background-color: yellow;
  border-radius:3rem;
  width: 160px;
  height: auto;
  font-size: 1.4rem;
  margin-left: 6.8rem;
}

.card {
  width: 200px;
  height: 200px;
  padding: 1rem;
  background-color: #fff;
  margin: 1rem;
}

.list-cards {
  margin-top: 2rem;
  width: 95%;
  height: auto;
  background-color: yellow;
  padding: 3rem;
  text-align: center;
}

.list-box {
  display: flex;
}

.links {
  text-decoration: none;
  color: #fff;
}

.links:hover {
  color: rgb(238, 203, 3);
}
